/* color palette from <https://github.com/vuejs/theme> */
:root {
  --myWhite: #ffffff;
  --myGrey: #D5DBE1;;

  --color-primary: #EE7333;
  --color-p-gradient: linear-gradient(180deg, #FCA070 0%, #F0651C 80.82%);

  --color-secondary: #1D1D11;
  --color-s-gradient: linear-gradient(180deg, #515151 0%, #1D1D11 49.32%);

  --second-back: #FEF9F7;

  --font-color-primary: #000000;
  --font-color-secondary: rgba(0, 0, 0, 0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}
